.trendyMovieList {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.trendyMovieLink {
  font-size: 14px;
  text-decoration: none;
  color: black;
}

.trendyMovieLink:hover,
.trendyMovieLink:focus {
  color: blueviolet;
}
